<div class="timeline">
    <div class="mycontainer" [ngClass]="(buck)?'left':'right'">
        <div class="mycontent">
          <div class="card">
            <div class="card-header">
              <span class="text-weight-light text-secondary small">
                {{getDate()}}
              </span>
              <span class="text-dark" style="float:right">
                  {{getTime()}}
                </span>
              <h3 class="font-weight-light text-uppercase">{{post.title}}</h3>
            </div>
            <div class="card-body">
              <p class="text-capitalize">{{post.post}}</p>
            </div>
            <div class="card-footer">
                <span>
                   <app-edit [postid] = "post._id" [post] = "post.post" [title]= "post.title"></app-edit> 
                   <app-delete [postid] = "post._id"></app-delete>
                </span>
              <div class="text-right" style="display:inline-block;">
                  <span class="text-secondary text-weight-light">
                      Author: 
                      <span class="text-dark text-weight-bold text-capitalize">
                        {{post.userid.name}}
                      </span>
                    </span>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>